/**
 * @name Tryfle Theme, a spin on catppuccin!
 * @author Tryfle
 * @description Uh
 * @version 0.0.1
 */

:root {
    /* Discord varibles */
    --background-tertiary: #131020;
    --background-secondary: #1a1823;
    --background-secondary-alt: #131020;
    --text-link: #c29df1;
    --background-accent: #131020;
    --brand-experiment-80a: #fa5ffd91;
    --accent-color: #d2cee1;
    --accent-secondary: #c29df1;
    --interactive-normal: #ae97cd;
    --interactive-hover: #c29df1;
    --brand-360: #b593e0;
    --text-normal: #ece4ea;
    --brand-500: #b593e0;
    --interactive-active: #f3bce6;
    --text-muted: #e9c4eb;
    --channels-default: white;
    --modal-background: white;
    --background-mentioned: #252836;
    --border-mentioned: #544764;
    --background-mentioned-hover: #2f3344;
    --modal-footer-background: white;
    --channel-text-area-placeholder: #21202c;
    --scrollbar-thin-thumb: transparent;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #0303135d;
    --scrollbar-auto-track: transparent;
    --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-auto-thumb);
    --scrollbar-auto-scrollbar-color-track: var(--scrollbar-auto-track);
    --channels-default: #c7b1e4;
    --bg-overlay-selected: #3f3b50;
    --background-modifier-selected: #1a1823;
    --background-modifier-active: #ffffff31;
    --mention-background: #9c77c8a7;
    --mention-foreground: #dcc1ff;
    /* Own variables (yes this matters and i hate it) */
    --background-third: #21202c;
    --background-dark: #131020;
    --background-middleshade: #1a1823;
    --hover-color: #f3bce6;
    --active-channel-or-dm: #333241;


    /* Main stuff, and random other stuff idk what I was thinking when I started this I'll fix it later */
    [class*="scrollerInner"],
    [class*="form"],
    [class*="scrollerContent"],
    .message_ddc613,
    .wrapper_cdfd51,
    .wrapper_b75bb9.cozy_b75bb9 {
        background-color: var(--background-third);
    }

    #vc-spotify-titles,
    .colorStandard_fbc755.size14_fb468f.default_b89ec7.formText_b89ec7.vc-spotify-ellipoverflow.modeDefault_b89ec7,
    .colorStandard_fbc755 {
        background-color: var(--background-dark) !important;
    }

    .defaultColor_a595eb,
    .platformIcon_d5089b,
    .vc-platform-indicator {
        background-color: transparent !important;
    }

    .title_a7d72e,
    .scrollableContainer_d0696b.themedBackground_d0696b,
    [class*="contentRegionScroller"] {
        background-color: var(--background-middleshade);
    }

    .container_b2ca13,
    .akaBadge_d6c26f,
    .header_f0cd33.expanded_f0cd33.header_ac90a2 {
        background-color: var(--background-dark);
    }

    div.children_e44302:after,
    form.form_a7d72e:before {
        display: none;
    }

    button.button_dd4f85.lookFilled_dd4f85.colorBrand_dd4f85.sizeSmall_dd4f85.grow_dd4f85:hover {
        background-color: var(--hover-color);
    }

    .placeholder_a552a6 {
        color: #9887af;
    }

    .childWrapper_f90abb {
        background-color: var(--background-middleshade);
    }

    [class*="mentioned_d5deea"]:before {
        background-color: var(--accent-secondary);
    }

    /* Emojis/Stickers */
    .wrapper_e06857.header_a3bc57,
    .contentWrapper_af5dbb,
    .header_b56bbc,
    .wrapper_e06857.packHeader_de4721 {
        background-color: var(--background-third);
    }

    .scroller_dcade6.none_c49869.scrollerBase_c49869,
    .input_effbe2,
    .unicodeShortcut_dfa278,
    .standardStickerShortcut_a7a485,
    [class*=inspector] {
        background-color: var(--background-middleshade)
    }

    .categoryItemDefaultCategory_dfa278.categoryItem_dfa278.categoryItemDefaultCategorySelected_dfa278,
    .stickerCategory_a7a485.stickerCategoryGeneric_a7a485.stickerCategoryGenericSelected_a7a485,
    .header_c6ee36 {
        background-color: var(--background-third);
    }

    /*Right click button*/
    .button_ef319f {
        background-color: var(--background-dark);
    }

    .button_ef319f:hover {
        background-color: var(--background-middleshade);
    }

    .item_d90b3d:hover {
        background-color: var(--accent-secondary);
    }

    /*Pinging and slash commands*/
    .scroller_dcade6,
    .wrapper_e06857.categoryHeader_fe2299 {
        background-color: var(--background-third);
    }

    .scroller_bea0d0 {
        background-color: var(--background-middleshade);
    }

    /*Pings*/
    .bar_c10249.unreadMentionsBar_fea3ef {
        background-color: var(--hover-color);
    }

    .numberBadge_df8943 {
        background-color: var(--accent-secondary) !important;
    }

    /* Scrollbar */
    .auto-2K3UW5::-webkit-scrollbar-thumb,
    .auto-2K3UW5::-webkit-scrollbar-track {
        height: 100px;
        border-right: 0px solid transparent;
        border-left: 8px solid transparent;
        border-radius: 0px;
    }

    .scroller_e2e187 {
        background-color: var(--background-third);
    }

    /* Pins */
    .header_ac90a2 {
        background-color: var(--background-dark);
    }

    .messagesPopout_ac90a2 {
        background-color: var(--background-middleshade);
    }

    .messageGroupCozy_ac90a2 {
        background-color: var(--background-third);
    }

    /* Inbox */
    .row_fd8ff1 {
        background-color: var(--background-third);
    }

    .friendRequestsButton_c0c071,
    .button_e258f5.secondary_e258f5.size32_e258f5 {
        background-color: var(--background-middleshade);
    }

    /* Threads */
    .header_e664f3 {
        background-color: var(--background-dark);
    }

    .list_c6aa12.thin_eed6a8.scrollerBase_eed6a8.fade_eed6a8,
    .input_c18ec9 {
        background-color: var(--background-middleshade);
    }

    .container_acb8b3 {
        background-color: var(--background-third);
    }

    /* Friends */
    .peopleColumn_c2739c {
        background-color: var(--background-third);
    }

    .theme-dark.container_e44302.themed_e44302,
    .scroller_bf550a.thin_c49869.scrollerBase_c49869,
    .container_bf550a {
        background-color: var(--background-middleshade);
    }

    .itemCard_f02fcf.wrapper_cd82a7.outer_c0f6a6.padded_c0f6a6.interactive_c0f6a6 {
        background-color: var(--background-dark);
    }

    /* Nitro gifting */
    .flex_bba380.horizontalReverse_bba380.justifyBetween_ec1a20.alignCenter_ec1a20.noWrap_ec1a20.footer_f9a4c9.footerSeparator_f9a4c9,
    .stepBodyCustomGift_d439ef,
    .content_f9a4c9.body_bf926b.thin_c49869.scrollerBase_c49869 {
        background-color: var(--background-middleshade);
    }

    .flex_bba380.horizontal_bba380.justifyStart_ec1a20.alignCenter_ec1a20.noWrap_ec1a20.header_f9a4c9.modalHeaderCustomGift_a27f2f {
        background-color: var(--background-dark) !important;
    }

    .markup_f8f345.editor_a552a6.slateTextArea_e52116.fontSize16Padding_d0696b.textAreaWithoutAttachmentButton_d0696b.textAreaCustomGift_d0696b {
        background-color: var(--background-third);
    }

    /* Chat Area, partially stolen from Tokyo Night my beloved */
    .scrollableContainer_d0696b {
        border-radius: 5px;
        border-bottom: 2px var(--background-middleshade) solid;
        transition: border-color .15s ease;
    }

    .scrollableContainer_d0696b:hover,
    .scrollableContainer_d0696b:focus-within {
        border-bottom-color: var(--accent-secondary);
    }

    .spriteContainer_af14ca,
    .contents_dd4f85.button_cecf00.button_d0696b {
        display: none;
    }

    .scrollableContainer_d0696b:focus-within .spriteContainer_af14ca,
    .scrollableContainer_d0696b:hover .spriteContainer_af14ca,
    .scrollableContainer_d0696b:focus-within .contents_dd4f85.button_cecf00.button_d0696b,
    .scrollableContainer_d0696b:hover .contents_dd4f85.button_cecf00.button_d0696b {
        display: block;
    }
    /* Explore and join server buttons */
    .circleIconButton_db6521 {
        background-color: var(--background-middleshade);
    }
    /* Polls */
    .container_a1531c.normalStylesDefault_b5cb3c.pollContainer_b558d0 {
        background-color: var(--background-middleshade);
    }
    .answerInner_cf2c85.currentlyVoting_cf2c85 {
        background-color: var(--background-third);
    }
    .votePercentageBar_cf2c85 {
        background-color: var(--accent-secondary);
    }
}