/**
 * @name Tryfle Theme Next
 * @author Tryfle
 * @description The updated version of the original Tryfle theme.
 * @version 1.0.0
 */

/* Notes for those viewing this */
/* This is the rewrite of my original theme, with a much cleaner codebase.*/
/* I used many css snippets from the Vencord Discord server which accomplished many of the same goals that I had in order to save time. All respective authors are credited with their discord tag. Some are editted, sometimes majorly. */

.visual-refresh, .visual-refresh .theme-darker {
    /* -- Discord variables -- */
    --brand-460: var(--accent-secondary); /* Voice Messages play icon */
    --brand-500: #b593e0; /* Voice chat playing */
    --channel-text-area-placeholder: #9887af; /* Chatbox container text color */
    --chat-text-muted: #e9c4eb !important; /* Accent text color */
    --chat-text-normal: #ece4ea !important; /* Chat text color */
    --text-normal: #ece4ea !important; /* Text color */
    --header-primary: white !important; /* Default name color and some other random elements. */
    --background-base-lowest: #1a1823 !important; /* Background color */
    --message-mentioned-background-default: #252836 !important; /* Mentioned color */
    --message-mentioned-background-hover: #2f3344 !important; /* Mentioned hover color */;
    --bg-overlay-selected: #3f3b50; /* Channel selected */
    --icon-secondary: #ae97cd !important; /* Nameplate icons (disabled) */
    --interactive-normal: #ae97cd !important; /* Icons */
    --interactive-hover: #c29df1 !important; /* Icons hover */
    --status-danger: #d696d7; /* Several locations: New messages bar (small), unread channel icon, nameplate icons enabled, etc. */
    --guildbar-avatar-size: 48px !important; /* Server icon size */
    --button-secondary-background-hover: #a683b15d !important; /* Button hover color */
    --channels-default: #c7b1e4 !important;  /* Channel name color */
    --channel-icon: #c7b1e4 !important; /* Channel icon color */
    --text-muted: #e9c4eb !important; /* Muted text color */
    --interactive-active: hsl(314, 70%, 85%) !important; /* Active text color */
    --text-primary: hsl(314, 70%, 85%) !important; /* Channel text enabled color */
    --icon-primary: #c29df1 !important; /* Channel icon enabled color */
    --message-background-hover: #1F1F28 !important; /* Background color */
    --text-secondary: #c7b1e4 !important; /* Secondary text color */
    --icon-tertiary: #ae97cd !important; /* Tertiary icon color */
    --background-surface-higher: #1a1823 !important; /* Discord icon color top left when not in dms */
    --bg-brand: #c29df1 !important; /* Discord icon color top left when in dms */
    --text-tertiary: #c7b1e4  !important; /* Tertiary text color */
    --text-default: hsl(314, 70%, 85%) !important; /* Active DM */
    --background-mod-subtle: #1a1823 !important;
    --blurple-50: #b593e0 !important; /* Blurple */
    --message-reacted-background-default: #c19df129 !important;  /* Reacted background color */
    --mention-background: #9c77c8a7 !important; /* Mentions */
    --mention-foreground: #dcc1ff !important; /* Mentions */
    --text-brand: #b593e0 !important;
    --button-filled-brand-background-hover: #7b639b !important;
    --status-positive: #c29df1 !important; /* Most green text */
    --green-360: #b593e0 !important;
    --message-reacted-text-default: #b593e0 !important; /* Reacted text color */ 
    /* --text-strong: hsl(314, 70%, 85%) !important;  New active text channel color--- not anymore. MAKE UP YOUR MIND DISCORD */
    --icon-strong: #c29df1 !important; /* New active icon channel color */
    --interactive-text-active: hsl(314, 70%, 85%) !important; /* New unread channel text color */
    --interactive-text-hover: #c29df1 !important; /* New hover text */
    --icon-subtle: #ae97cd !important; /* New unread message text channel icon color */
    --text-subtle: #ae97cd !important; /* New muted text */
    --icon-muted:  #ae97cd !important; /* New interactive normal */
    --interactive-text-default: #ae97cd !important; /* New interactive normal... again... */
    --interactive-icon-default: #ae97cd !important; /* New interactive normal...... AGAAAIN.. */
    --icon-voice-muted: #d696d7 !important; /* Take a wild guess. */
    --background-feedback-notification: #d696d7 !important; /* Notification background color */

    /* -- Theme variables -- */
    --tt-bg-light: #21202c; /* Lightest background color */
    --tt-bg-dark: #131020; /* Darkest background color */
    --tt-bg-secondary: #1a1823; /* Secondary background color */
    --tt-hover-color: #f3bce6; /* Hover color */
    --tt-accent-color: #c29df1; /* Accent color */
}
.visual-refresh .theme-darker, body {
    /* -- Discord Variables (applied a bit differently) */
    --text-default: #ece4ea !important; /* Chat text color */
    --text-danger: #c29df1 !important;
    --text-feedback-critical: #c29df1 !important;
    --background-feedback-critical: #d696d741 !important;
    --background-primary: #1a1823 !important;
    --text-link: #c29df1 !important; /* Link color */
    --chat-text-muted: #e9c4eb !important; /* Accent text color */
    --text-positive: #c29df1 !important; /* Most green text */
    --modal-background: #1a1823; /* Modal background color */
    --modal-footer-background: #1a1823; /* Modal footer background color */
    --background-surface-high: #1a1823 !important; /* Profiles */
    --button-positive-background: #c29df1;
    --button-positive-background-hover: #dac1fb;
}

#vc-spotify-player {
    --vc-spotify-green: hsl(314, 70%, 85%);
}

/* --- TODO ---
1. fix folder icons on servers
*/

/* -- General -- */

/* Hides the weird blur thing on the seperator of the top bar */
.children__9293f:after {
    background: transparent !important;
}

/* Brings back proper hover colors, thanks Discord! */
.clickable__9293f:hover .icon__9293f{
    color: #c29df1 !important;
}

/* selected text channel color and unread */
.modeSelected__2ea32, .highlighted__20a53 {
    --text-strong: hsl(314, 70%, 85%) !important;
}

/* muted channel color */
.modeMuted__2ea32 {
    --text-muted: rgb(140, 120, 150);
}

/* Reverts DM colors via inheritance*/
.interactive__972a0 {
    --text-muted: #c7b1e4 !important;
}
.interactive__972a0:active, .interactiveSelected__972a0 {
    color: hsl(314, 70%, 85%) !important; /* Cannot override variable without causing other issues, not worth it. */
}

/* Add Friends to DM */
.messageGroupWrapper_e8b59c {
    background-color: var(--tt-bg-light) !important;
}

/* Pins */
.messagesPopout_e8b59c.thin_d125d2.scrollerBase_d125d2,.header_e8b59c,.footer_e8b59c {
    background-color: var(--tt-bg-secondary) !important;
}

/* Pinned DMS - Vencord */
.headerText__99e7c {
    color: var(--tt-accent-color);
}

/* Emoji Information */
.guildSection_d5cd2d {
    background-color: var(--tt-bg-light) !important;
}
.emojiSection_d5cd2d {
    background-color: var(--tt-bg-secondary) !important;
}

/* Automod messages */
.message__5126c.cozyMessage__5126c.ephemeral__5126c.groupStart__5126c.automodMessage__5126c.wrapper_c19a55.cozy_c19a55.zalgo_c19a55 {
    background-color: #703d7737;
}

/* Modal hover color */
:where(.visual-refresh) .colorDefault_c1e9c4.focused_c1e9c4 {
    --bg-mod-subtle: var(--tt-accent-color) !important;
}

/* Button Background */
[class*="focused_"] {
    background-color: var(--button-secondary-background-hover) !important;
}

/* Background */
.messagesWrapper__36d07,.wrapper_d852db {
    background-color: var(--tt-bg-light) !important;
}
.scroller__99e7c.thin__99f8c.scrollerBase__99f8c.fade__99f8c {
    background-color: var(--tt-bg-secondary) !important;
}
.sidebarList__5e434.sidebarListRounded__5e434 {
    background-color: var(--tt-bg-light) !important;
}
.searchBar__97492 {
    background-color: var(--tt-bg-dark) !important;
}
.searchBar__97492 * {
    color: #d1bee9;
}

.wrapper_fc8177.cozy_fc8177, .scrollerContent__36d07.content_d125d2, .chatContent_f75fb0 {
    background-color: var(--tt-bg-light) !important;
}

.actionBar_aa605f,.wrapper_f7ecac,.file__0ccae {
    background-color: var(--tt-bg-secondary) !important;
}

.itemsContainer_ef3116, .title_c38106 {
    background-color: var(--tt-bg-dark) !important;
}
.members_c8ffbb, .childContainer__91a9d, .member__5d473 {
    background-color: var(--tt-bg-secondary);
}
.title_f75fb0.container__9293f.themed__9293f {
    background-color: var(--tt-bg-secondary) !important;
}
/* Add extra spacing between the text bar and messages */
.scrollerContent__36d07.content_d125d2 {
    margin-bottom: 7px !important;
}
/* Embeds */
.embedWrapper_b7e1cb.embedFull__623de.embed__623de.markup__75297 {
    background-color: var(--tt-bg-secondary) !important;
    border-radius: 5px !important;
}
/* Friends */
.itemCard__7e549.wrapper__00943.outer_bf1984.padded_bf1984.interactive_bf1984 {
    background-color: var(--tt-bg-dark) !important;
}
.theme-dark.theme-darker.images-dark.container__9293f.themed__9293f,.scroller__7d20c.thin_d125d2.scrollerBase_d125d2 {
    background-color: var(--tt-bg-secondary) !important;
}
.peopleColumn__133bf {
    background-color: var(--tt-bg-light) !important;
}

/* Context Menu */
.scroller_c1e9c4.thin_d125d2.scrollerBase_d125d2 {
    background-color: var(--tt-bg-secondary);
}

/* Mentions */
[class*="_5126c0cd07f243a0-mentioned"]:before {
    background-color: var(--tt-accent-color);
}

/* -- Pickers -- */
/* Emoji */
.contentWrapper__08434,.header_c0e32c,.scroller_affa7e.list_c656ac.thin_d125d2.scrollerBase_d125d2,.wrapper__14245.header_c656ac, .wrapper__29ebd {
    background-color: var(--tt-bg-light) !important;
}
.searchBar_c0e32c.container_a45028.medium_a45028, .scroller_affa7e.none_d125d2.scrollerBase_d125d2,.inspector_aeaaeb.inspector_c0e32c,.unicodeShortcut_b9ee0c {
    background-color: var(--tt-bg-secondary) !important;
}
/* Sticker */
.header__8ef02,.wrapper__14245.packHeader_e94b8c {
    background-color: var(--tt-bg-light) !important;
}
.inspector_aeaaeb,.standardStickerShortcut__3ad28,.container_a45028.medium_a45028 {
    background-color: var(--tt-bg-secondary) !important;
}
/* Gifs */
.nav__08434,.header_fed6d3,.container_d02962.thin__99f8c.scrollerBase__99f8c.fade__99f8c,.results__2dc39.thin__99f8c.scrollerBase__99f8c.fade__99f8c,[class^="noResults_"] {
    background-color: var(--tt-bg-light) !important;
}
/* This removes the blur! --V */
#gif-picker-tab-panel [class*=result]:hover::after {
    background: none !important;
}

 /* -- Server list -- */

 /* Fix icon sizes - Originally written by @scattagain */
 :root {
   --guildbar-avatar-size: 48px !important;
}

:root {
    --guildbar-avatar-size: 48px;
    --blob-scale: 48;

    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);

    --custom-guild-list-padding: 12px;
    --custom-guild-list-width: calc(
        max(var(--guildbar-avatar-size), var(--guildbar-folder-size))
        + var(--custom-guild-list-padding) * 2
    );
}

nav[class*="guilds"] {
    /* Uncomment if you changed up your nameplate */
    /* margin: 0;
    [class*="sidebar"]::after {
        height: 0;
    } */

    defs>path {
        /* #svg-mask-squircle */
        d: path("M0 0.464C0 0.301585 0 0.220377 0.0316081 0.158343C0.0594114 0.103776 0.103776 0.0594114 0.158343 0.0316081C0.220377 0 0.301585 0 0.464 0H0.536C0.698415 0 0.779623 0 0.841657 0.0316081C0.896224 0.0594114 0.940589 0.103776 0.968392 0.158343C1 0.220377 1 0.301585 1 0.464V0.536C1 0.698415 1 0.779623 0.968392 0.841657C0.940589 0.896224 0.896224 0.940589 0.841657 0.968392C0.779623 1 0.698415 1 0.536 1H0.464C0.301585 1 0.220377 1 0.158343 0.968392C0.103776 0.940589 0.0594114 0.896224 0.0316081 0.841657C0 0.779623 0 0.698415 0 0.536V0.464Z");
    }

    defs, 
    [class*="blobContainer"],
    [class*="wrapper"],
    [class*="listItemWrapper"],
    svg[class*="placeholderMask"],
    svg:not([class*="placeholderMask"]) > foreignObject {
        width: var(--guildbar-avatar-size) !important;
        height: var(--guildbar-avatar-size) !important;
    }

    [class*="childWrapper"]>svg {
        width: calc(var(--guildbar-avatar-size) - 18px);
        height: calc(var(--guildbar-avatar-size) - 18px);
    }

    [class*="childWrapper"],
    [class*="childWrapper"] img,
    [class*="icon"],
    [class*="circleIconButton"] {
        border-radius: 50% !important;
        transition: border-radius 150ms linear;
    }

    [class*="selected"] {
        [class*="childWrapper"],
        [class*="childWrapper"] img,
        [class*="icon"],
        &[class*="circleIconButton"] {
            border-radius: 27% !important;
        }
    }

    [class*="shiftSVG"] {
        top: 0px;
        left: 0px;

        foreignObject {
            transform: translate(-4px, -4px);
        }
    }

    mask {
        --badge-offset: calc(var(--guildbar-avatar-size) - 40px);

        &:not([class*="folderHeader"] mask) {
            use[href$="-lower_badge_masks"] {
                translate: var(--badge-offset) var(--badge-offset);
            }

            use[href$="-upper_badge_masks"] {
                translate: var(--badge-offset);
            }
        }

        use[href$="-blob_mask"] {
            scale: var(--blob-scale);
        }
    }

    [class*="folderPreviewWrapper"] {
        display: flex;
        justify-content: center;
        align-items: center;

        [class*="folderPreview"] {
            width: calc(var(--guildbar-folder-size) / 3 * 2 + var(--custom-folder-preview-gap) * 2);
            height: calc(var(--guildbar-folder-size) / 3 * 2 + var(--custom-folder-preview-gap) * 2);
        }
    }

    [class*="iconSizeMini"] {
        width: calc(var(--guildbar-folder-size) / 3);
        height: calc(var(--guildbar-folder-size) / 3);

        [class*="acronym"] {
            line-height: calc(var(--guildbar-folder-size) / 3);
        }

        &[style*="font-size: 12px;"] {
            font-size: 10px !important;
        }
        &[style*="font-size: 10px;"] {
            font-size: 7px !important;
        }
        &[style*="font-size: 8px;"] {
            font-size: 6px !important;
        }
    }

    [class*="folderIcon"] {
        svg {
            width: 24px !important;
            height: 24px !important;
        }
        
        background-color: var(--bg-mod-subtle);
    }

    [class*="closedFolderIconWrapper"] {
        gap: initial;
    }

    [class*="listItem"] {
        margin-bottom: 8px;
        height: min-content;
    }

    [class*="stack"] {
        gap: 0 !important;
    }

    #guild-list-unread-dms {
        margin-top: 0 !important;
        > div {
            height: var(--guildbar-avatar-size) !important;
            margin-bottom: 8px;
        }
    }

    [class*="isExpanded"] {
        [class*="folderGroupBackground"] {
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
        }
        [class*="stack"] {
            height: auto !important;
            :last-child {
                margin-bottom: 0;
            }
        }

        margin-bottom: 8px;
    }

    [id*="folder-items"] {
        --guildbar-avatar-size: var(--guildbar-folder-size) !important;
    }
}

[class="cf48127484dbde85-text-sm/medium b6c092614b8d59f3-title"] {
    color: white !important;
    font-weight: 520 !important;
}
/* Server size within folders */
.icon_f34534.folderPreviewGuildIcon__48112.iconSizeMini_f34534.iconInactive_f34534 {
   height: 90% !important;
   width: 90% !important;
}

/* Discord icon size (Disabled due to cutting off edges. Looks much better though.) */
/*[d="M19.73 4.87a18.2 18.2 0 0 0-4.6-1.44c-.21.4-.4.8-.58 1.21-1.69-.25-3.4-.25-5.1 0-.18-.41-.37-.82-.59-1.2-1.6.27-3.14.75-4.6 1.43A19.04 19.04 0 0 0 .96 17.7a18.43 18.43 0 0 0 5.63 2.87c.46-.62.86-1.28 1.2-1.98-.65-.25-1.29-.55-1.9-.92.17-.12.32-.24.47-.37 3.58 1.7 7.7 1.7 11.28 0l.46.37c-.6.36-1.25.67-1.9.92.35.7.75 1.35 1.2 1.98 2.03-.63 3.94-1.6 5.64-2.87.47-4.87-.78-9.09-3.3-12.83ZM8.3 15.12c-1.1 0-2-1.02-2-2.27 0-1.24.88-2.26 2-2.26s2.02 1.02 2 2.26c0 1.25-.89 2.27-2 2.27Zm7.4 0c-1.1 0-2-1.02-2-2.27 0-1.24.88-2.26 2-2.26s2.02 1.02 2 2.26c0 1.25-.88 2.27-2 2.27Z"] {
   transform: scale(1.3);
   transform-origin: center center;
   object-fit: contain;
}
*/

/* -- Spotify Player Modal -- */
#vc-spotify-player {
   background: var(--tt-bg-dark) !important;
   height: 120px !important;
}
.barFill_a562c8 {
   background: var(--tt-accent-color) !important;
}
.vc-spotify-artist, .vc-spotify-album {
    color: #c1cce5 !important;
}
.vc-spotify-button.vc-spotify-shuffle.vc-spotify-shuffle-on {
    background-color: #76128637;
}

 /* -- Nameplate -- */
.visual-refresh .panels__5e434 {
    background-color: var(--tt-bg-dark);
  }

.visual-refresh .panels__5e434 {
    margin-left: var(--custom-guild-list-width);
    width: calc(100% - var(--space-xs)*2 - var(--custom-guild-list-width));
    .actionButtons_e131a9 button {
      padding: 0;
    }
    >div:not(.wrapper_e131a9) {
      height: 50px;
      padding: 4px;
    }
    .avatar__37e49 {
      scale: 0.8;
    }
  }
  nav[class*=guilds] {
    margin-bottom: 0;
  }
  :root {
    --custom-rtc-account-height: 0;
  }
  .sidebar__5e434:after {
    display: none;
}
nav.guilds__5e434 {
  margin-bottom: 0 !important;
}
/* Current Game */
.panel__5dec7.activityPanel__5e434 {
    background-color: var(--tt-bg-dark) !important;
}
/* Make the background of microphone & headphone icons invisible. */
[aria-label="Mute"], [aria-label="Deafen"], [aria-label="Enable Game Activity"] {
   background-color: var(--tt-bg-dark) !important;
}
[aria-label="Mute"]:hover, [aria-label="Deafen"]:hover, [aria-label="Enable Game Activity"]:hover {
   background-color: var(--button-secondary-background-hover) !important;
}

/* Hide extra buttons *annoying* */
.button__67645.buttonChevron__37e49.enabled__67645.plated__67645.button__201d5.lookBlank__201d5.colorBrand__201d5.grow__201d5.button__67645.buttonChevron__37e49 {
    display: none;
}

/* -- Chatbox container -- */
/* Commands */
.scroller_affa7e.list_d1405b.thin_d125d2.scrollerBase_d125d2,.wrapper__14245.categoryHeader_d1405b,.optionPillValue__1464f,.scroller__6b0e0.thin_d125d2.scrollerBase_d125d2 {
    background-color: var(--tt-bg-light) !important;
    border-radius:10px;
}
.inlineElement__1464f.optionPill__1464f {
    border-radius:10px;
    border: 0px;
    background-color:var(--tt-bg-secondary);
}
.optionPillKey__1464f {
    background-color: var(--tt-bg-dark) !important;
    border-radius:10px;
}
/* Typing size and color */
.base_b88801 {
   font-size: 14px !important;
   color: white !important;
}

/* Chatbox container background color */
.form_f75fb0.formWithLoadedChatInput_f75fb0 {
    background-color: var(--tt-bg-light) !important;
}

/* Chatbox Tokyo Night style effect + Color */
.scrollableContainer__74017.themedBackground__74017 {
    border-radius: 5px;
    border-bottom: 2px var(--tt-bg-secondary) solid !important;
    transition: border-color .15s ease;
    background-color: var(--tt-bg-secondary) !important;
}

/* Chatbox revert emoji size */
.spriteContainer__04eed {
    --custom-emoji-sprite-size: 24px !important;
}
.attachButton__0923f.attachButton__0923f {
    padding: 10px 16px;
    position: sticky;
    top: 0;
  }
  .attachButtonInner__0923f {
    height: 24px;
    > svg {
      width: 24px;
      height: 24px;
    }
  }

  [aria-label="Open GIF picker"],
  [aria-label="Open sticker picker"] {
    padding: 6px !important;
    width: 32px !important;
    height: 32px !important;
    align-items: center !important;
    justify-content: center !important;
    box-sizing: border-box !important;
  }
  
  [aria-label="Open GIF picker"] svg,
  [aria-label="Open sticker picker"] svg {
    width: 20px !important;
    height: 20px !important;
    transform: scale(1.2) !important;
  }
  /* Follow this channel... */
  .wrapper__44df5 {
    background-color: var(--tt-bg-secondary) !important;
    border-radius: 5px !important;
    padding: 10px !important;
  }
  /* Chat box size tweak */
  .channelTextArea_f75fb0 {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 20px;

    .inner__74017 {
        margin-top: -6px;
        margin-bottom: -6px;
        margin-right: 10px;
        --custom-channel-textarea-text-area-max-height: 58px;
        --custom-channel-textarea-text-area-height: var(
            --custom-channel-textarea-text-area-max-height
        );
    }

    .slateContainer_ec4baf {
        margin-left: 4px;
    }

    .scrollableContainer__74017 {
        overflow: hidden;
    }

  .channelTextArea_f75fb0.channelTextArea__74017 {
    border: 0px;
  }
}

  
.channelAttachmentArea_b77158.scrollbarGhost__506b3.scrollbar__506b3 {
    background-color: var(--tt-bg-secondary) !important;
}

.upload_aa605f {
    background-color: var(--tt-bg-light) !important;
}
/* Icons within the chatbox */
div[class*="app-launcher-entrypoint"] {
    display: none;
}

.chatTypingGradientNotAtBottom__36d07.chatGradientBase__36d07, .chatTypingGradientAtBottom__36d07.chatGradientBase__36d07 {
    display: none !important;
}

/* Fix for the bottom aligned chatbar experiment. */ 
.attachButton__0923f.attachButton__74017.button__24af7 {
    height: 10px;
    width: 10px;
    margin-top: 7.5px;
}
.scrollerSpacer__36d07 {
    height: 25px !important;
}
.text_b88801 {
    font-size: 10px !important;
    margin-left: 5px !important;
}
.typingDots_b88801 {
    margin-top: 140px !important;
    transform: scale(0.7) !important;
    margin-left: -16% !important;
    align-self: flex-end; /* Remove this line to use experimentatal bottom aligned typing indicator. */
}

.scrollableContainer__74017:hover,
.scrollableContainer__74017:focus-within {
    border-bottom-color: var(--tt-accent-color) !important;
}

[aria-label="Open GIF picker"], [aria-label="Open sticker picker"] {
    display: none !important;
}

.emojiButtonNormal__04eed.emojiButton__04eed.emojiButton__74017.button__74017 {
    display: none;
}

.scrollableContainer__74017:focus-within [aria-label="Open sticker picker"], /* Discord has removed the Gif, and Sticker picker. This can be reverted for now with the experiment: 2025-09-chat-input-ia-desktop: Not Eligble */
.scrollableContainer__74017:hover [aria-label="Open sticker picker"],
.scrollableContainer__74017:focus-within [aria-label="Open GIF picker"],
.scrollableContainer__74017:hover [aria-label="Open GIF picker"],
.scrollableContainer__74017:focus-within .emojiButtonNormal__04eed.emojiButton__04eed.emojiButton__74017.button__74017,
.scrollableContainer__74017:hover .emojiButtonNormal__04eed.emojiButton__04eed.emojiButton__74017.button__74017 {
    display: flex !important;
}

[aria-label="Give a Gift"], [aria-label="Upgrade your friends! Gift them awesome chat perks with Nitro."], #app-mount > div.appAsidePanelWrapper_a3002d > div > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div > div > div > div.content__5e434 > div.page__5e434 > div > div > div.content_f75fb0 > main > form > div > div > div > div.scrollableContainer__74017.themedBackground__74017 > div > div.buttons__74017.reducedGap__74017 > div.button__74017.button__24af7, #app-mount > div.appAsidePanelWrapper_a3002d > div.notAppAsidePanel_a3002d > div.app_a3002d > div > div.layers__960e4.layers__160d8 > div > div > div > div.content__5e434 > div.page__5e434 > div > div > div.content_f75fb0 > main > form > div > div > div > div > div.buttons__74017 > button {
    display: none !important;
}

/* Cooldown colored */
[class^="cooldownWrapper_"] {
    color: #ae97cd !important;
}

/* Shift text 10px left because it looks weird due to a new change without it */
.footer__5be3e .markup__75297.editor__1b31f.slateTextArea_ec4baf,
.inner__74017 .markup__75297.editor__1b31f.slateTextArea_ec4baf,
.placeholder__1b31f.slateTextArea_ec4baf {
  margin-left: 0 !important;
}

/* High performance impact-- previously hardcoded, but I'm lazy and restoring the old version. */
.channelBottomBarArea_f75fb0:not(.footer__5be3e)  .markup__75297.editor__1b31f.slateTextArea_ec4baf, .placeholder__1b31f.slateTextArea_ec4baf {
  margin-left: -10px !important;
}

/* -- Member List -- */

 /* Remove activity status menu. - Originally written by @lusaffi: This is costly on resources. If you are experiencing slowdowns, comment this out. */
[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
  display: none;
}

/* -- Settings -- */

/* Background */
.contentColumn__23e6b.contentColumnDefault__23e6b,.contentRegionScroller__23e6b.contentRegionShownSidebar__23e6b.auto_d125d2.scrollerBase_d125d2, .bar_c38106.systemBar_c38106.fixed_c38106.show_c38106 {
    background-color: var(--tt-bg-secondary);
}

/* Fix text color on vencord tabs -- can't find the variables because there's like 500 of them soooo */
.vc-card-base.vc-card-normal.vc-plugins-info-card {
    color: var(--tt-hover-color);
    background-color: var(--tt-bg-dark);
}

.vc-card-base.vc-card-normal { 
    background-color: var(--tt-bg-dark);
}

.contentColumn__23e6b.contentColumnDefault__23e6b {
    color: var(--tt-hover-color);
}

/* Checkbox Setting Enabled */
.container__3f21e.checked__3f21e {
    background-color: #b593e0 !important;
}

[d="M4.08643 11.0903L5.67742 9.49929L9.4485 13.2704L7.85751 14.8614L4.08643 11.0903Z"],[d="M7.89561 14.8538L6.30462 13.2629L14.3099 5.25755L15.9009 6.84854L7.89561 14.8538Z"] {
    fill: #b593e0 !important;
}
/* Vencord stuff */
.vc-addon-card,.vc-settings-quickActions-card.cardPrimary__73069.card__73069, .vc-plugins-info-card.cardPrimary__73069.card__73069 {
    background-color: var(--tt-bg-dark) !important;
}